<h1 class="Titulo">Registro de Glucometría</h1>

<div class="center-container">
    <form [formGroup]="formGlucometria" (ngSubmit)="registrarUsuario()">
        <div fxLayout="row">
            <mat-form-field fxFlex="50">
                <mat-label>Hora:</mat-label>
                <input matInput type="text" id="hora" [value]="getCurrentTime()" disabled>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFlex="50">
                <mat-label>Glucometría:</mat-label>
                <input matInput type="number" id="glucometria" formControlName="glucometria" required>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <button class="botonGrafico" mat-raised-button type="button" (click)="volver()">Volver</button>
            <button  class="botonGrafico" mat-raised-button type="submit" [disabled]="!formGlucometria.valid">Registrar</button>
        </div>
    </form>
</div>
