<div class="container">
  <div class="form-wrapper">
    <h1>Iniciar sesión</h1>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-form-field>
        <mat-label>Cédula:</mat-label>
        <input matInput type="text" id="cedula" formControlName="cedula" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" id="contrasena" formControlName="contrasena" required>
      </mat-form-field>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <br>

      <div class="submit-button">
        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
      </div>
    </form>
    <br>

    <p>No tienes una cuenta? <a routerLink="/registro">Regístrate aquí</a></p>
  </div>
</div>