.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.date-picker {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.Titulo {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.volver-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}